<h1>Editing ticket order</h1>

<%= render "form", ticket_order: @ticket_order %>

<br>

<div>
  <%= link_to "Show this ticket order", @ticket_order %> |
  <%= link_to "Back to ticket orders", ticket_orders_path %>
</div>
